extends layout

block content
  h1 Sharm
  p.lead Share your posts across social media like a charm.
  hr
  .row
    .col-sm-6
      h2 Set up accounts
      p Configure your social media accounts for sharing.
      p
        a.btn.btn-default(href='/linked-accounts', role='button') Take me! »
    .col-sm-6
      h2 Schedule
      p Check the programed posts.
      p
        a.btn.btn-default(href='#', role='button') View details »
  